nav{
    padding: 15px;
    background:rgb(73, 73, 165);
}
.nav-items {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color:white;
}
.nav-items a{
    color: #ffffff
}
footer{
    text-align: center;
    background:rgb(73, 73, 165);
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    padding: 8px
}